
.header__anim {
  position: relative;
  width: 128px;
  height: 64px;

  &__circle {
    border-radius: 50%;
    position: absolute;
  }

  &__center {
    width: 25%;
    height: 50%;
    top: 25%;
    left: 50%;
    background-color: $red;
    z-index: 4;
    animation: pulse $animationSpeed ease-in-out infinite;

    @keyframes pulse {
      0% { transform: translateX(-50%) scale(1); }
      25% { transform: translateX(-50%) scale(1); }
      30% { transform: translateX(-50%) scale(1.1); }
      50% { transform: translateX(-50%) scale(1); }
      65% { transform: translateX(-50%) scale(1.1); }
      70% { transform: translateX(-50%) scale(1); }
      100% { transform: translateX(-50%) scale(1); }
    }
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $blue-650;
  }

  &__dashed-circle {
    width: 50%;
    height: 100%;
    left: 25%;
    top: 0;
    border: 3px dotted $blue-650;
    animation: simpleRotate 10000ms linear infinite;

    @keyframes simpleRotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(-360deg); }
    }
  }

  &::before, &::after, &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10%;
    height: 20%;
    background-color: $blue-300;
    z-index: 3;
  }

  &::before { left: 0; }
  &::after { right: 0; }

  &__payload {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10%;
    height: 3px;
    z-index: 2;
    background-color: $blue-800;
    animation: payload $animationSpeed linear infinite;

    @keyframes payload {
      0% { transform: translate(0, -50%); }
      30% { transform: translate(500%, -50%); }
      70% { transform: translate(500%, -50%); }
      100% { transform: translate(900%, -50%); }
    }
  }
}