$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.main__anim {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 250px;

  &__circle {
    border-radius: 50%;
    position: absolute;
  }

  &__center {
    width: 25%;
    height: 50%;
    top: 25%;
    left: 50%;
    background-color: $red;
    z-index: 4;
    transform: translateX(-50%);

    &::before, &::after, span::before, span::after {
      content: '';
      width: 50%;
      position: absolute;
      left: 25%;
      height: 6px;
      border-radius: 2px;
      background-color: $red-700;
      animation: scaleIn 6000ms ease-in-out infinite;
      transform: scaleX(0);
    }

    &::before { top: 35%; }
    &::after { top: 45%; animation-delay: 200ms }
    span::before { top: 55%; animation-delay: 400ms }
    span::after { top: 65%; animation-delay: 600ms }

    @keyframes scaleIn {
      0% { transform: scaleX(0); }
      10% { transform: scaleX(1); }
      40% { transform: scaleX(1); }
      50% { transform: scaleX(0); }
      100% { transform: scaleX(0); }
    }
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: $gray-300;
  }

  &__left, &__right, &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &__left, &__right {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 15%;
    height: 30%;
    background-color: $blue;
    z-index: 3;

    span {
      position: absolute;
      bottom: -$spacer-2;
      font-family: $mono-font;
      text-align: center;
      transform: translateY(100%);
    }
  }

  &__left { left: 0; }
  &__right { right: 0; }

  &__payload {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10%;
    height: 6px;
    border-radius: 3px;
    z-index: 2;
    background-color: $blue-800;
    animation: payload $animationSpeed linear infinite;

    @keyframes payload {
      0% { transform: translate(0, -50%); }
      30% { transform: translate(500%, -50%); }
      70% { transform: translate(500%, -50%); }
      100% { transform: translate(900%, -50%); }
    }
  }
}