@import 'primer-css/index.scss';

$blue-650: mix($blue-600, $blue-700, 50%);
$animationSpeed: 1500ms;

@import 'styles/header-anim';
@import 'styles/main-anim';
@import 'styles/github';

body {
  background-color: $gray-200;
}

.btn-outline-blue {
  background-color: transparent;
  color: white;
  border-color: white !important;

  &:hover {
    color: $blue-500;
    background-color: white;
  }
}

.btn-outline-green {
  background-color: $green-500;
  color: white;
  border-color: $blue-500 !important;

  &:hover {
    color: $blue-500;
    background-color: white;
  }
}

.btn-outline-red {
  background-color: $red-500;
  color: white;
  border-color: transparent !important;

  &:hover {
    color: $blue-500;
    background-color: white;
  }
}

.blue-700 {
  color: $blue-700;
}

.input-xl {
  font-size: $h1-size;
  padding: $spacer-2;
  line-height: 1.5;
}

.octicon { fill: currentColor; }
